/* Basic styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    max-width: 1200px;
}

h1, h2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

/* Add styles to the Nav menu */

header {
    width: 100%;
    background-image: url(../assets/main_board.png);
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 45px;
}

.company-name {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
header .company-name {
    margin: auto 152px;
}

.nav-links {
    flex: 1 1 auto;
    text-align: center;
}

.nav-links ul li {
    display: inline-block;
    margin: 6px 16px;
}

.nav-links ul li a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

ul li:nth-child(2)::after {
    content: '';
    width: auto;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
}

/* Add styles to the hero section */

.hero-block {
    display: flex;
    flex-direction: column;
    width: 920px;
    align-items: center;
    margin: auto;
}

.hero-block h1 {
    width: 386px;
    padding: 0 20px ;
    margin-top: 13px;
    margin-bottom: 42px;
}

.hero-block h3 {
    width: 426px;
}

/* Center the hero block */

.hero-block {
    height: 100%;
    justify-content: center;
}

/* Add styles to main block */

.main-block {
    background-color: #EEEEEE;
    height: 700px;
}

.main-block h2 {
    color: #464547;
    margin-bottom: 39px;
    width: 669px;
}

.main-block h3 {
    color: #666666;
    margin-bottom: 45px;
    width: 426px;
}

.main-block p {
    color: #666666;
}

/* 2-col layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 83px;
    row-gap: 0;
}

.main-block h2 {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 88px;
}

.main-block h3 {
    grid-column: 1 / 3;
    justify-self: center;
}

.primary-button {
    grid-column: 1 / 3;
    justify-self: center;
}

.main-block p {
    width: 408px;
    height: 172px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

p#item1 {
    margin-left: auto;
    margin-bottom: 45px;
}

.primary-button {
    background: #55C2D8;
    border-radius: 18px;
    border: none;
    width: 115px;
    height: 36px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    grid-column: 1 / 3;
    margin: 0 auto;
    display: block;
}

/* Add styles to learn-more block */
.learn-more {
    background-image: url(../assets/background_pic_2.png);
    height: 666px;
    position: relative;
}

/* Add transparent background to the image  */
.learn-more::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(140, 79, 42, 0.3);
    height: 666px;
}

.learn-more h2 {
    width: 480px;
    height: 117px;
    margin-bottom: 53px;
}

.learn-more h3 {
    width: 390px;
    height: 102px;
}

.btn {
    background: #39C2D7;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    align-items: center;
    margin-bottom: 70px;
}

.btn img {
    padding-left: 10px;
}

.learn-more-center {
    display: flex;
    flex-direction: column;
    width: 920px;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 2;
}

/* Center the learn-more block */
.learn-more-center {
    height: 100%;
    justify-content: center;
}


/* Add styles to the footer */

footer {
    background-color: #464547;
    height: 170px;
}

/* 7-col grid layout */
.grid-footer {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: 49px 49px;
    padding: 52px 135px 0 153px;  
}

.footer-logo {
    display: flex;
    text-align: center;
    grid-column: 1 / 2;
    align-items: start;
}

footer p, .footer-email {
    grid-column: 3 / 4;
}

footer .copyright {
    grid-column: 6 / 8;
    justify-self: end;
}

footer .company-name {
    display: flex;
    align-items: center;
    margin-left: 16px;
    height: 20px;
}

footer p {
    margin: 0;
    width: 174px;
    height: 33px;
    left: 140px;
    top: 2217px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

small {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.footer-email a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}